<div class="container">
  <mgui-facet-filter
    [isAdvancedModeInput]="true"
    [chipsContainerWidth]="'100%'"
    [preSelectedFilters]="preSelectedFilters"
    [columns]="columns"
    [dynamicValuesProvider]="getColumnValues.bind(this)"
    (filtersChange)="activeFilters.set($event)"
    (basicSearchChange)="onBasicSearch($event)"
    (searchTemplate)="searchTpl = $event"
    (pillsTemplate)="pillsTpl = $event"
  ></mgui-facet-filter>

  <div class="search-container facet-projected" (mousedown)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="searchTpl"></ng-container>
  </div>

  <div class="pills-container" (mousedown)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="pillsTpl"></ng-container>
  </div>

  <table class="bordered-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredData()">
        <td *ngFor="let col of columns">
          {{ $any(row)[col.map] || '' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
